header {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 3vw;
}

header h3 {
  font-size: 2.4vw;
}

/* Nav Bar Styling */
nav {
  display: flex;
  justify-content: center;
}

nav.navbar {
  background-color: #4b0082 !important;
  /* color: #ffffff !important; */
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.heading {
  color: #4b0082;
}

/* Jumbotron Styling */
.custom-jumbotron {
  background-color: #ffffff !important;
}
