header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #4b0082;
}

header h1 {
  font-size: 3vw;
}

header h3 {
  font-size: 2.4vw;
}

/* Nav Bar Styling */
.navigation {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #ffffff !important;
  /* display: flex;
    justify-content: space-around; */
}

nav.navbar {
  background-color: #4b0082 !important;
}

.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly !important;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

span.navbar-toggler-icon {
  color: #fff; /* set the background color to white */
}
/* 
.navbar-toggler-icon {

  width: 1.5rem;
  height: 1.5rem;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="white" stroke-width="3" stroke-linecap="round" d="M 2.5,7.5 L 27.5,7.5 M 2.5,15 L 27.5,15 M 2.5,22.5 L 27.5,22.5"/></svg>');
  border-color: white;
  background-image: none !important;
  border-color: #FFFFFF !important;
  box-shadow: none !important;
  background-color: #4b0082 !important;
} */

.heading {
  color: #4b0082;
}

/* Jumbotron Styling */
.custom-jumbotron {
  background-color: #ffffff !important;
}

.jumbotron {
    padding: 1em 2em !important;
}
